*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background-color: #1d1d1d;
    font-family: sans-serif;
}
.logo{
    position: absolute;
    top: 0;
    font-size: 40px;
    color:white;
    padding: 10px;
    background-color: rgba(0,0,0,0);
}
.text{
    color: #fc5d5d;
    background-color: rgba(0,0,0,0);
}

#parent1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
}

.divs1 {
    margin: 5px;
    border-radius: 50%;
}

.divs1:nth-child(odd) {
    width: 1vw;
    height: 1vw;
    background-color: #76d476;
}

.divs1:nth-child(even) {
    width: 1.6vw;
    height: 1.6vw;
    background-color: #b46fbd;
}

.control{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    row-gap: 5px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 5px;
    padding: 10px;
    width: 20%;
    justify-items: center;
    /* border: solid forestgreen 2px; */
}
.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.divcount{
    font-size: 14px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    width: 40%;
    border: none;
    border-radius: 25px 25px;
}
.divcount:focus{
    background-color: white;
    color: black;
}
.arith{
    width: 25%;
    background-color: #5959ff;
    color: white;
    border: solid 2px #5959ff;
    border-radius: 25px 25px;
    font-size: 22px;
}
.arith:hover{
    border: solid 2px white;
}
.change{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 25px 25px;
    font-size: 15px;
    background-color: rgb(0, 165, 0);
    color: white;
    letter-spacing: 1.5px;
}
.change:hover{
    background-color:  rgb(0, 165, 0,0.5);
}

@media(max-width: 480px){
    .logo{
        font-size: 26.5px;
    }
    .control{
        width: 32.5%;
        padding: 10px;
    }.divcount{
        font-size: 14px;
    }
    .change{
        font-size: 12.5px;
    }
}

